name: Test main

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
        shell:
          - pwsh
        include:
          - os: windows-latest
            shell: pwsh
          - os: windows-latest
            shell: powershell
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Test
        uses: ./.github/actions/test
        with:
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
          shell: ${{ matrix.shell }}
      - name: Run Snyk to check for vulnerabilities(pocof)
        uses: ./.github/actions/snyk
        with:
          snyk_token: ${{ secrets.SNYK_TOKEN }}
          project_name: pocof
      - name: Run Snyk to check for vulnerabilities(pocof.Test)
        uses: ./.github/actions/snyk
        with:
          snyk_token: ${{ secrets.SNYK_TOKEN }}
          project_name: pocof.Test

      - name: Run Snyk to check for vulnerabilities(pocof.Benchmark)
        uses: ./.github/actions/snyk
        with:
          snyk_token: ${{ secrets.SNYK_TOKEN }}
          project_name: pocof.Benchmark
      - name: Run Snyk to check for vulnerabilities(pocof.Inspector)
        uses: ./.github/actions/snyk
        with:
          snyk_token: ${{ secrets.SNYK_TOKEN }}
          project_name: pocof.Inspector
