name: Build and Test on Pull Request

on:
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  security-events: write

jobs:
  test:
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
        shell:
          - pwsh
        include:
          - os: windows-latest
            shell: pwsh
          - os: windows-latest
            shell: powershell
      # NOTE: disable fail-fast to run tests on all platforms.
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Test
        uses: ./.github/actions/test
        with:
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
          shell: ${{ matrix.shell }}
      - name: Run Snyk to check for vulnerabilities
        # NOTE: snyk/actions uses Container action that is only supported on Linux.
        # NOTE: skip snyk/actions when PR is from forked repository.
        if: runner.os == 'Linux' && github.event.pull_request.head.repo.full_name == github.repository
        uses: snyk/actions/dotnet@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          args: --all-projects --org=krymtkts
